.multi-bg {
    background-image: url('../../public/images/bg1.png'), url('../../public/images/bg2.png');
    background-position: left bottom, right top;
    background-repeat: no-repeat;
}

.active {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    color: #ffffff !important;
}

.active:hover {
    color: #ffffff!important;
}

